<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RunTestsWithoutTransactions" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="Context"
      connectionString="data source=localhost\SQLEXPRESS;initial catalog=TestEF;integrated security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>